body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://i.ibb.co/bzVkhNM/Bildschirmfoto-2024-04-23-um-20-17-04.png'); /* Hintergrundbild für die Startseite */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Damit das Hintergrundbild beim Scrollen fixiert bleibt */
}

.button-container {
    position: fixed;
    bottom: 50%;
    right: 33%;
    transform: translate(50%, 50%);
}

.button {
    padding: 15px 25px;
    font-size: 25px;
    color: rgb(36, 62, 176);
    background-color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.9s;
}

.button:hover {
    background-color: rgb(190, 190, 190);
}
